<html>
	<head>
		<title>Desafio João Pedro Guimarães Borba</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Início</a></li>
							<li><a href="#one">Documentação</a></li>
							<li><a href="#two">Quem Sou Eu</a></li>
							<li><a href="#three">Agenda</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Desafio João Pedro Guimarães Borba</h1>
							<p>Esta aplicação é parte do desafio de estágio <a href="https://www.instagram.com/jackexperts/">Jack Experts</a><br />
							e tem a função de criar uma simples agenda de contatos.</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Documentação</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<div class="content">
								<div class="inner">
									<h2>Dockerhub</h2>
									<p>aqui haverá um link para o dockerhub.</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Dockerhub</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<div class="inner">
									<h2>Youtube</h2>
									<p>Aqui haverá um link para o Youtube.</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Youtube</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<div class="inner">
									<h2>Github</h2>
									<p>Aqui haverá o link do projeto no Github.</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>João Pedro Guimarães Borba</h2>
							<p>Acadêmico do curso de engenharia de software.</p>
							<div class="features">
								<section>
									<span class="icon major fa-gem"></span>
									<h3>Programador Ruby On Rails</h3>
									<p>1 ano de experiência.</p>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Vasta Experiência em Segurança da Informação</h3>
									<p>Há 6 anos trabalhando em uma empresa de segurança da informação, conhecedor e praticante de boas práticas de segurança.</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Experiência Em Manutenção De Hardwares e Softares</h3>
									<p>Vasta experiência com suporte técnico de diversas naturezas.</p>
								</section>
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>Especialista Em Conectar Soluções à Pessoas</h3>
									<p>A tecnologia deve estar à disposição de todos, mesmo para os que não têm conhecimento técnico para tal. Sendo assim, é dever do especialista técnico, independente da área, tornar essa conexão possível.</p>
								</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Agenda de Contatos</h2>
							<p>Acesse aqui a agenda.</p>
                            <ul class="actions">
										<li><a href=users class="button">Agenda</a></li>
									</ul>
							
                            
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->            
            <script type="module">import "jquery.min"</script>
            <script type="module">import "jquery.scrolex.min"</script>
            <script type="module">import "jquery.scrolly.min"</script>
            <script type="module">import "browser.min"</script>
            <script type="module">import "breakpoints.min"</script>
            <script type="module">import "util"</script>
            <script type="module">import "main"</script>
	</body>
</html>